CONFIG_LUATEX=luatex
#CONFIG_LUATEX_FLAGS=
CONFIG_FORMAT=dvi
CONFIG_PAGE_HEIGHT=297mm
CONFIG_PAGE_WIDTH=210mm
CONFIG_PAPER_HEIGHT=\pageheight
CONFIG_PAPER_WIDTH=\pagewidth
CONFIG_MARGINTOP=2cm
CONFIG_MARGINBOTTOM=2cm
CONFIG_MARGINLEFT=1.5cm
CONFIG_MARGINRIGHT=1.5cm
CONFIG_LINERULETHICKNESS=1.4pt
CONFIG_MARGINRULETHICKNESS=1pt
CONFIG_INTERLINESKIP=31pt
CONFIG_INTRUSION_LEFT=.2\leftmargin
CONFIG_INTRUSION_RIGHT=.625\rightmargin
